<div id="mission-description">
  <div class="small-card-white">
    <h3 class="text-left">Mission: <%= booking.service.title %></h3>
    <ul class="text-left list-inline">
      <li>Conditions: </li>
      <li><i class="fa fa-calendar"></i> <%= booking.starts_at || "A fixer" %> | </li>
      <li><i class="fa fa-clock-o"></i> <%= booking.duration || "A fixer" %> | </li>
      <li><i class="fa fa-money"></i> "A fixer"</li>
    </ul>
    <% if !booking.description.nil? %>
      <p>Description: <%= booking.description %></p>
    <% end %>
  </div>
  <div class="small-card-white">
    <ul class="text-center list-inline">
      <li>Status: <%= booking.status %></li>
      <li>Action</li>
    </ul>
  </div>
</div>
