<%= content_for(:title) do %>
  OpenLoge | Mes réservations
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="booking-show"  class="margined-navbar" style="background-image: url(<%= image_path("Photo_home.jpg") %>)">
  <div class="filter-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
          <p><%= image_tag current_user.avatar, class: "img-avatar" %></p>
          <h1>Mes petits services</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a class="text-major-action-color" href="#bookings-i-asked" aria-controls="bookings-i-asked" role="tab" data-toggle="tab">Mes demandes</a>
          </li>
          <li role="presentation"><a class="text-major-action-color" href="#bookings-i-received" aria-controls="bookings-i-received" role="tab" data-toggle="tab">Mes services</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Tab panes -->
        <div class="tab-content bg-color">
          <!-- Bookings I asked -->
          <div role="tabpanel" class="tab-pane active" id="bookings-i-asked">
            <div class="table-wrapper">
              <table class="table-booking">
                <tbody>
                  <tr>
                    <th>Expert</th>
                    <th>Détails</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  <% @bookings_i_made.each do |booking| %>
                    <tr>
                      <td><%= image_tag booking.service.user.avatar, class: "img-small-profile" %></td>
                      <td>
                        <%= booking.service.title %><br>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-calendar"></i> <%= booking.starts_at || "A fixer" %></li>
                          <li><i class="fa fa-clock-o"></i> <%= booking.duration || "A fixer" %></li>
                          <li><i class="fa fa-money"></i> A fixer</li>
                        </ul>
                      </td>
                      <td><%= booking.status %></td>
                      <td>Action</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Bookings I Received -->
          <div role="tabpanel" class="tab-pane" id="bookings-i-received">
            <div class="table-wrapper">
              <table class="table-booking">
                <tbody>
                  <tr>
                    <th>Voisins</th>
                    <th>Détails</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  <% @bookings_i_received.each do |booking| %>
                    <tr>
                      <td><%= image_tag booking.service.user.avatar, class: "img-small-profile" %></td>
                      <td>
                        <%= booking.service.title %><br>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-calendar"></i> <%= booking.starts_at || "A fixer" %></li>
                          <li><i class="fa fa-clock-o"></i> <%= booking.duration || "A fixer" %></li>
                          <li><i class="fa fa-money"></i> A fixer</li>
                        </ul>
                      </td>
                      <td><%= booking.status %></td>
                      <td>Action</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
