<%= content_for(:title) do %>
  OpenLoge | Mes réservations
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="booking-show" class="margined-navbar">
  <div class="filter-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
          <p><%= image_tag current_user.avatar, class: "img-profile" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a class="text-major-action-color" href="#bookings-i-asked" aria-controls="bookings-i-asked" role="tab" data-toggle="tab">Mes demandes</a>
          </li>
          <li role="presentation"><a class="text-major-action-color" href="#bookings-i-received" aria-controls="bookings-i-received" role="tab" data-toggle="tab">On fait appel à moi</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Tab panes -->
        <div class="tab-content bg-color">
          <!-- Bookings I asked -->
          <% if @bookings_i_made.present? %>
            <div role="tabpanel" class="margined-bottom-100 tab-pane active" id="bookings-i-asked">
              <div class="table-wrapper">
                <table class="table-booking">
                  <tbody>
                    <tr>
                      <th>Expert</th>
                      <th>Détails</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                    <% @bookings_i_made.each do |booking| %>
                      <%= link_to loge_booking_path(current_loge, booking) do %>
                        <tr>
                          <td><%= image_tag booking.service.user.avatar, class: "img-profile-small" %></td>
                          <td>
                            <%= booking.service.title %><br>
                            <ul class="list-unstyled">
                              <li>
                                <% if booking.starts_at %>
                                  <i class="fa fa-calendar"></i> <%= booking.starts_at.strftime("%A %d %B") %>
                                <% else %>
                                  <i class="fa fa-calendar"></i> A fixer
                                <% end %>
                              </li>
                              <li>
                                <% if booking.duration %>
                                  <i class="fa fa-clock-o"></i> <%= booking.duration %> h
                                <% else %>
                                  <i class="fa fa-clock-o"></i> A fixer
                                <% end %>
                              </li>
                              <li><i class="fa fa-money"></i> A fixer</li>
                            </ul>
                          </td>
                          <td>
                            <span class="<%= booking.status_style %>"><%= booking.status %></span>
                          </td>
                          <td><%= link_to "Voir", loge_booking_path(current_loge, booking) %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
          <!-- Bookings I Received -->
          <div role="tabpanel" class="margined-bottom-100 tab-pane" id="bookings-i-received">
            <div class="table-wrapper">
              <table class="table-booking">
                <tbody>
                  <tr>
                    <th>Voisins</th>
                    <th>Détails</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  <% @bookings_i_received.each do |booking| %>
                    <tr>
                      <td><%= image_tag booking.user.avatar, class: "img-profile-small" %></td>
                      <td>
                        <strong><%= booking.service.title %></strong><br>
                        <ul class="list-unstyled">
                          <li>
                            <% if booking.starts_at %>
                              <i class="fa fa-calendar"></i> <%= booking.starts_at.strftime("%A %d %B") %>
                            <% else %>
                              <i class="fa fa-calendar"></i> A fixer
                            <% end %>
                          </li>
                          <li>
                            <% if booking.duration %>
                              <i class="fa fa-clock-o"></i> <%= booking.duration %> h
                            <% else %>
                              <i class="fa fa-clock-o"></i> A fixer
                            <% end %>
                          </li>
                          <li><i class="fa fa-money"></i> A fixer</li>
                        </ul>
                      </td>
                      <td>
                        <span class="<%= booking.status_style %>"><%= booking.status %></span>
                      </td>
                      <td><%= link_to "Voir", loge_booking_path(current_loge, booking) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% content_for :after_js do %>
  <%= javascript_tag do %>
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })
  <% end %>
<% end %>
