<%= content_for(:title) do %>
  OpenLoge | Réservation
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="booking-new"  class='margined-navbar'>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card margined-navbar bg-color-white">
          <div class="text-center">
            <h2><%= @expert.first_name.capitalize %></h2>
            <div class="field-margined-bottom">
              <p>profile picture</p>
            </div>
          </div>
          <div>
            <h4>Proposez une mission à <%= @expert.first_name.capitalize %></h4>
            <p>Service choisi: <%= @service.title %></p>
            <%= simple_form_for(@booking, url: loge_bookings_path) do |f| %>
              <%= f.input :description, label: false, input_html: {id: "txt-booking"}, placeholder: 'Ecrivez votre demande' %>
              <%= f.hidden_field :service_id, value: @service.id %>
              <%= f.button :submit, "Envoyer", class: "buttonSignInUp" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
