<%= content_for(:title) do %>
  <%= "OpenLoge | Mes échanges avec " + @expert.first_name || "OpenLoge"%>
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="booking-show"  class="margined-navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
          <p><%= image_tag @booking.user.avatar, class: "img-profile" %> <i class="fa fa-weixin"></i>
          <%= image_tag image_path(@expert.avatar), class: "img-profile" %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render 'mission_description', loge: @loge, booking: @booking, expert_message: @expert_message %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Nos échanges</h2>
        <div id="chat">
          <p class="text-left"><strong>Note</strong>: Utilisez le chat pour discuter tout au long de la mission.</p>
          <% if current_user == @booking.user %>
            <div id="new-message">
              <%= simple_form_for([@loge, @booking, @new_message], remote: true) do |f| %>
                <%= f.input :content, label: false,placeholder: 'Précisez votre demande' %>
                <%= f.button :submit, "Envoyer", class: "buttonChat" %>
              <% end %>
            </div>
          <% end %>
          <div id="chat-room">
            <% @messages.reverse_each do |message| %>
              <% if message.user == @booking.user %>
              <div class="row">
                <div class="user-message">
                  <p class="text-left">
                    <%= message.content %>
                  </p>
                  <p class="posted-at">
                    <%= message.created_at.strftime("%A %d at %kh%M" ) %>
                  </p>
                </div>
              </div>
              <% else %>
              <div class="row">
                <div  class="expert-message">
                  <p class="text-right">
                    <%= message.content %>
                  </p>
                  <p class="posted-at">
                    <%= message.created_at.strftime("%A %d at %kh%M" ) %>
                  </p>
                </div>
              </div>
              <% end %>
            <% end %>
            <div id="escape"></div>
          </div>
        </div>


      </div>
    </div>
</div>
