<%= content_for(:title) do %>
  <%= "OpenLoge | Mes échanges avec " + @expert.first_name || "OpenLoge"%>
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="booking-show" style="background-image: url(<%= image_path("Photo_home.jpg") %>)">
  <div class="filter-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card">
          <p><%= image_tag current_user.picture, class: "img-profile" %> -----
          <%= image_tag image_path(@expert.first_name.downcase + ".jpg"), class: "img-profile" %>
          </p>
          <h1>
            Mes échanges avec
            <% if current_user == @expert %>
              <%= @booking.user.name.capitalize %>
            <% else %>
              <%= @expert.first_name.capitalize %>
            <% end %>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a class="text-major-action-color" href="#chat" aria-controls="chat" role="tab" data-toggle="tab">Mes échanges</a>
          </li>
          <li role="presentation"><a class="text-major-action-color" href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Mission</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <!-- Tab panes -->
        <div class="tab-content bg-color">
          <!-- Chat -->
          <div role="tabpanel" class="tab-pane active" id="chat">
            <div id="new-message">
              <%= simple_form_for([@loge, @booking, @new_message]) do |f| %>
                <%= f.input :content, label: false,placeholder: 'Précisez votre demande' %>
                <%= f.button :submit, "Envoyer", class: "buttonChat" %>
              <% end %>
            </div>
            <div id="chat-room">
              <% @messages.each do |message| %>
                <% if message.user == @booking.user %>
                <div class="row">
                  <div class="user-message">
                    <p class="text-left">
                      <%= message.content %>
                    </p>
                    <p class="posted-at">
                    <%= message.posted_at.strftime("%A %d at %kh%M" ) %>
                    </p>
                  </div>
                </div>
                <% else %>
                <div class="row">
                  <div  class="expert-message">
                    <p class="text-right">
                      <%= message.content %>
                    </p>
                    <p class="posted-at">
                      <%= message.posted_at.strftime("%A %d at %kh%M" ) %>
                    </p>
                  </div>
                </div>
                <% end %>
              <% end %>
              <div id="escape"></div>
            </div>
          </div>

          <!-- Mission -->
          <div role="tabpanel" class="tab-pane" id="mission">
            <div id="mission-description">
              <h1 class="text-center"><%= @booking.service.title %></h1>
              <ul class="text-center list-inline">
                <li><i class="fa fa-calendar"></i> <%= @booking.starts_at || "A fixer" %> | </li>
                <li><i class="fa fa-clock-o"></i> <%= @booking.duration || "A fixer" %> | </li>
                <li><i class="fa fa-money"></i> "A fixer"</li>
              </ul>
              <p>Description: <%= @booking.service.description %></p>
            </div>
            <div id="mission-update">
              <% if current_user == @expert %>
                <%= current_user %>
                <%= @expert %>
                <%= simple_form_for([@loge, @new_booking]) do |f| %>
                  <%= f.input :starts_at, label: false %>
                  <%= f.input :duration, label: false, placeholder: "Durée prévue" %>
                  <%= "Price" %>
                  <%= f.button :submit, "Proposer", class: "buttonChat" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
