<%= content_for(:title) do %>
  OpenLoge
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="bg-home">
  <div class="filter-blue"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <h3>RETROUVEZ LES SERVICES<br>DE LA LOGE DE VOTRE QUARTIER</h3>
          <h4>(bricolage, repassage, baby-sitting, petits plats maison, <span class="hidden-xs">réception de livraisons, </span>dog sitting, etc.)</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card" id="home-search-bar">
          <%= form_tag loges_path, class: "form-horizontal", method: :get do %>
            <fieldset>
                <div class="col-xs-12 col-sm-7 col-sm-offset-1">
                  <input id="user_input_autocomplete_address" name="user_input_autocomplete_address"
                         class="form-control field-margined-bottom" placeholder="Entrez votre adresse...">
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= submit_tag "Trouvez votre Loge !", class: "btn search_button btn-100" %>
                  <input id="latitude" name="lat" type="hidden" class="form-control">
                  <input id="longitude" name="lon" type="hidden" class="form-control">
                </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_KEY'] %>">
  </script>
  <%= javascript_tag do %>
    google.maps.event.addDomListener(window, 'load', function() {
      initializeAutocomplete('user_input_autocomplete_address');
    });
  <% end %>
<% end %>
