<%= content_for(:title) do %>
  <%= "OpenLoge | " + @loge.name || "OpenLoge"%>
<% end %>

<%= content_for(:description) do %>
  Services locaux durables
<% end %>

<div id="loge-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div>
          <h1><%= @loge.name %></h1>
          <%=  image_tag "Logo_Loge_10" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card margined-navbar bg-color-transparent text-justify">
          <div>
            <ul>
              <% @loge.memberships.each do |member| %>
              <li><%= member.user.first_name %> <%= member.user.last_name %> <%= link_to "Edit profile", loge_user_path(@loge, member.user) %> </li>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
